#home{
        background-image:  url(../images/ivan-torres-MQUqbmszGGM-unsplash.jpg);
        background-position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        text-align: center;
        padding-top: 20%;
}

        




 #about{
    background-image:  url(../images/carissa-gan-_0JpjeqtSyg-unsplash.jpg);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 20%;    
}
#about p{
    font-weight: bolder;
    color: yellow;
    font-size: 20px;
} 

.text-center{
    line-height: 5vh;
}

.nav-link-custom:hover{
    color: salmon;
}

#contact{
    margin-top: 50px;
background-color: yellowgreen;
    
}


